%h1 Listing addresses

%table
  %tr
    %th Address 1
    %th Address 2
    %th City
    %th State
    %th Zip
    %th Actions

  - @addresses.each do |address|
    %tr
      %td= address.address1
      %td= address.address2
      %td= address.city
      %td= address.state
      %td= address.zip
      %td= link_to 'Show', user_address_path(current_user, address)
      %td= link_to 'Edit', edit_user_address_path(current_user, address)
      %td= link_to 'Destroy', user_address_path(current_user,address), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Address', new_user_address_path(current_user)
